html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eee;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 100px;
}

a {
    text-decoration: none;
    color: #000;
}
