.tile {
    width: 200px;
    height: 250px;
    cursor: pointer;
    box-shadow: 0 5px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    background: #fff;
}

.tile:hover {
    box-shadow: 0 6px 2px 2px rgba(0, 0, 0, 0.17);
}

.tile__image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.tile__content-wrapper {
    padding: 5px;
}

.tile__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.tile__description {
    overflow: hidden;
}
